<div class="container">
  <div class="row">
    <img id="callboard-logo" class="col-md-6 col-md-push-3 col-xs-12" src="/assets/logos/CALLBOARDLOGO.png" alt="callboard-logo" />
  </div>
  <div class="row video-row">
    <h1 style="color: #FF8600; letter-spacing: 2px; font-size: 25px; line-height: 1.5;"><%= @quote.text %></h1>
    <div id="myVideoWrapper">
      <video id="myVideo" class="video-js vjs-default-skin"></video>
    </div>
    <audio id="quote">
      <source src="/assets/<%= @quote.audio_path %>" type="audio/mp3">
    </audio>
    <h1 id="clickbutton" style="color: #FF8600; letter-spacing: 2px; font-size: 25px; line-height: 1.5;">Click on the black box to give camera access</h1>
    <button id="record" class="share-btn" style="display: none;">RECORD</button>
    <input id="fileupload" type="file" name="files[]">
    <div id="one">3</div>
    <div id="two">2</div>
    <div id="three">1</div>
  </div>
</div>

<script>

  $(function () {
    // Initialize the jQuery File Upload widget
    $('#fileupload').fileupload({
      url: '/main/upload?token=<%= @token %>&quote=<%= @quote.id %>',
      done: function (e, data) {
        $.each(data.files, function (index, file) {
          var message = 'Upload complete: ' + file.name + ' (' +
            file.size + ' bytes)';
          $('<p/>').text(message).appendTo(document.body);
          console.log(message);
        });
      }
    });

    var player = videojs('myVideo',
    {
      controls: true,
      loop: false,
      // dimensions of video.js player
      width: 400,
      height: 400,
      plugins: {
        record: {
          maxLength: 6,
          debug: true,
          audio: false,
          video: {
            // video constraints: set resolution of camera
            mandatory: {
              minWidth: 1280,
              minHeight: 720,
            },
          },
          // dimensions of captured video frames
          frameWidth: 1280,
          frameHeight: 720
        }
      }
    });

$(document).ready( function() {
  player.on('deviceReady', function()
  {
    $('#record').show();
    $('#clickbutton').hide();
  });

  $('#record').click(function() {
    $('#record').hide();
    $('#one').show();
    setTimeout(function() {
      $('#one').hide();
      $('#two').show();
    }, 1000);
    setTimeout(function() {
      $('#two').hide();
      $('#three').show();
    }, 2000);
    setTimeout(function() {
      $('#three').hide();
    }, 3000);
    setTimeout(function() {
      $('.vjs-record-button').click();
      $('#quote')[0].play();
    }, 3000);
  });
    // data is available
    player.on('finishRecord', function()
    {
      // the blob object contains the video data
      var videoFile = player.recordedData;
      console.log('finished recording: ', videoFile);
      // upload data to server
      var filesList = [videoFile];
      $('#fileupload').fileupload('add', {files: filesList});

      setTimeout(function() {
        window.location = "<%= request.base_url %>/main/show/<%= @token %>";
      }, 1000);
    });
  });
});
</script>
