<audio autoplay>
  <source src="/assets/SpaceToys.mp3" type="audio/mp3">
</audio>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 banner">
      <%= link_to root_path do %>
        <img src="/assets/banner-gifs/banner-vert.gif" class="img-responsive banner-vert" alt="" />
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="row">
        <img id="callboard-logo" class="col-md-6 col-md-push-3 col-xs-12" src="/assets/logos/CALLBOARDLOGO.png" alt="callboard-logo" />
      </div>
      <div class="row">
        <div class="col-md-3 callboy-box">
          <%= link_to show_character_path(@characters.first.name) do %>
            <div class="top">
              <img src="/assets/callboys-profile-pictures/devon.png" alt="" class="img-rounded">
            </div>
            <div class="bottom">
              <span class="dildo-link animated" id="devon"></span>
              <h1>Devon</h1>
            </div>
              <% end %>
        </div>
        <div class="col-md-3 callboy-box">
          <%= link_to show_character_path(@characters.second.name) do %>
            <div class="top">
              <img src="/assets/callboys-profile-pictures/jay.png" alt="" class="img-rounded">
            </div>
            <div class="bottom">
              <span class="dildo-link animated" id="jay"></span>
              <h1>Jay</h1>
            </div>
            <% end %>
        </div>
        <div class="col-md-3 callboy-box">
          <%= link_to show_character_path(@characters.third.name) do %>
            <div class="top">
              <img src="/assets/callboys-profile-pictures/randy.png" alt="" class="img-rounded">
            </div>
            <div class="bottom">
              <span class="dildo-link animated" id="randy"></span>
              <h1>Randy</h1>
            </div>
            <% end %>
        </div>
        <div class="col-md-3 callboy-box">
          <%= link_to show_character_path(@characters.fourth.name) do %>
            <div class="top">
              <img src="/assets/callboys-profile-pictures/wes.png" alt="" class="img-rounded">
            </div>
            <div class="bottom">
              <span class="dildo-link animated" id="wesley"></span>
              <h1>Wesley</h1>
            </div>
            <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-push-2">
          <p class="uitleg-text">
            Op deze pagina kan je een dubsmash maken, van je favoriete callboy!
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2 banner">
      <img src="/assets/banner-gifs/banner-vert.gif" class="img-responsive banner-vert" alt="" />
    </div>
  </div>
</div>
